logs/
npm-debug.log
yarn-error.log
node_modules
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~

app/public
config/manifest.json
app/web/.temp
.umi

crawler/data/
crawler/demo/
crawler/result.txt
crawler/aliexpress-catergories.json
crawler/google-shopify.log
crawler/*.bk
